
<div id="updateMSG" style="position: absolute;color: #ff4e87;font:16pt; display:none; " > x </div>

<table border="2" style="width: 700px;margin: auto;border-collapse:collapse;">

  <tr>
    <td colspan="6" style="text-align: left;padding-left: 10%">
      部門:<%= @user.department %> </br>
      姓名:<%= @user.name %> </br>
      電話:<%= @user.phone %> </br>
      年月:<%= @year%>年<%= @month%>月
    </td>
  </tr>
  <tr>
    <td style="width: 8%">日期</td>
    <td style="width: 7%">星期</td>
    <td style="width: 10%">上班時間</td>
    <td style="width: 10%">下班時間</td>
    <td style="width: 45%">備註
      <img id="editNote"  src="/images/Text-Edit-icon.png" onmouseover="this.style.cursor='pointer';this.style.cursor='hand'" onmouseout="this.style.cursor='default'"
             style="width:20px; border:0; cursor:hand;" alt="Click to edit other note! And press ENTER after you editing." />

    </td>
    <td style="width: 20%"> IP </td>

  </tr>

      <% @knocks_of_month.each_with_index do |element, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= @week_day[Time.new(@year ,@month, index+1).wday]  %></td>
            <td>
              <% if !element.blank? && !element.clock_in.blank? %>
                  <%= element.clock_in.strftime('%H:%M') %>
              <% end %>
            </td>
            <td>
              <% if !element.blank? && !element.clock_out.blank? %>
                  <%= element.clock_out.strftime('%H:%M') %>
              <% end %>
            </td>
            <td style="text-align:left">
              <% if !element.blank? && !element.description.blank? %>
                  <input type="text"  width="100%"  name="<%= @year%>-<%= @month%>-<%= index + 1 %>" value="<%=element.description%>  ">
                  <%else%>
                  <input type="text"  value="" style="display: none" name="<%= @year%>-<%= @month%>-<%= index + 1 %>">
              <% end %>

            </td>
            <td style="font-size: 60%">
              <% if !element.blank? && !element.in_ip.blank? %>
                   <%= element.in_ip %>
              <% end %>
              <% if !element.blank? && !element.out_ip.blank? %>
                   :<%= element.out_ip %>
              <% end %>

            </td>

          </tr>
  <% end %>

  <tr>
    <td colspan="6" style="text-align: left;padding-left: 10px;height:40px">確認簽名:  </td>
  </tr>

</table>

<script src="/js/codreamUtility.js"></script>

<script>
    $("#editNote").click(function(){
         $("input").show();
     });

    $("input").change( function(){
        $.ajax({
            type: "POST",
            url: "/home/update_note",
            cache: false,
            data: { this_date: this.name ,  desc: this.value }  ,
            success: function(text){
                letDivCenter(updateMSG);
                $("#updateMSG").html(text);
                $("#updateMSG").fadeIn(1000,function(){
                    $("#updateMSG").fadeOut(5000)
                });

            }
        }) ;
    });

</script>
