
<table border="2" style="width: 700px;margin: auto;border-collapse:collapse;">

  <tr>
    <td style="width: 11%">戰鬥員</td>
    <td style="width: 7%">上班時間</td>
    <td style="width: 7%">下班時間</td>
    <td style="width: 45%">備註</td>
    <td style="width: 20%"> IP </td>
  </tr>

  <% @team_day_knocks.each do |element| %>
      <tr>
        <td><%= element.name%></td>
        <td>
          <% if !element.blank? && !element.knocks.first.clock_in.blank? %>
              <%= element.knocks.first.clock_in.strftime("%H:%M") %>
          <% end %>
        </td>
        <td>
          <% if !element.blank? && !element.knocks.first.clock_out.blank? %>
              <%= element.knocks.first.clock_out.strftime("%H:%M") %>
          <% end %>
        </td>
        <td>
          <% if !element.blank? && !element.knocks.first.description.blank? %>
              <%= element.knocks.first.description %>
          <% end %>
        </td>
        <td style="font-size: 60%">
          <% if !element.blank? && !element.knocks.first.in_ip.blank? %>
              <%= element.knocks.first.in_ip %>
          <% end %>
          <% if !element.blank? && !element.knocks.first.out_ip.blank? %>
              :<%= element.knocks.first.out_ip %>
          <% end %>

        </td>

      </tr>
  <% end %>

</table>