
<div style="font-size: 30px;float: left;margin-top:50px;margin-left:10%">
  <%= link_to "基本資料", edit_user_registration_path, {:style => "width: 100px;height: 30px" } %>
  </p></br>
  <%= link_to "個人打卡", my_hourse_path, {:style => "width: 100px;height: 30px" } %>
  </p></br>
  <%= link_to "團隊打卡", team_hourse_path, {:style => "width: 100px;height: 30px" } %>
</div>

<div style="width: 55%; margin:auto ; text-align: center">

  <select id ="year_select_team" style="width: 70px;margin-top: 10px">
    <option value="2013">2013</option>
    <option value="2014">2014</option>
  </select>

  <select id ="month_select_team" style="width: 70px;margin-top: 10px">
    <option value="1">1月</option>
    <option value="2">2月</option>
    <option value="3">3月</option>
    <option value="4">4月</option>
    <option value="5">5月</option>
    <option value="6">6月</option>
    <option value="7">7月</option>
    <option value="8">8月</option>
    <option value="9">9月</option>
    <option value="10">10月</option>
    <option value="11">11月</option>
    <option value="12">12月</option>
  </select>

  <select id ="day_select" style="width: 70px;margin-top: 10px">
  </select>

</div>

<div id ="div_team_knock_records"  style="width: 55%;margin: auto;">
  <%= render :partial => "home/team_day_knocks" %>
</div>

<script>

    $(document).ready(function(){
        $("#year_select_team").val(<%= @year %>)
        $("#month_select_team").val(<%= @month %>)

        for (var n = 1; n <= <%= @days_in_month %>; n++)
            $("#day_select").append('<option value="' + n + '">' + n + '</option>');

        $("#day_select").val(<%= @day %>)
    });

    $("#month_select_team").change(function(){

        var select_year = $("#year_select_team").val();
        var select_month = $("#month_select_team").val();
        var select_date = select_year + "," + select_month

        $.ajax({
            url: "/home/get_days_select_tag",
            type: 'POST',
            data:  {select_date:select_date},
            cache: false,
            success: function(data){
                document.getElementById("day_select").length=0;

                for (var n = 1; n <= data.days_in_month; n++)
                    $("#day_select").append('<option value="' + n + '">' + n + '</option>');
            }
        });
    });

    $("#year_select_team").change(function(){
        get_team_knocks();
    });

    $("#month_select_team").change(function(){
        get_team_knocks();
    });

    $("#day_select").change(function(){
        get_team_knocks();
    });

    function get_team_knocks(){
        var select_year = $("#year_select_team").val();
        var select_month = $("#month_select_team").val();
        var select_day = $("#day_select").val();
        var select_date = select_year + "," + select_month + "," + select_day

        $.ajax({
            url: "/home/query_team_day_knocks",
            type: 'POST',
            data:  {select_date:select_date},
            cache: false,
            success: function(data){
                $('#div_team_knock_records').html(data);
            }
        });
    };
</script>
