<div id="updateMSG" style="position: absolute; color: #ff4e87;font:16pt; display:none; " > x </div>

<div style="width: 55%;margin: auto">

    <div id="talk" style="text-align: center">
        Hi ,
        <%= @user_name %>     -  Your IP:   <%= request.remote_ip %>

    </div>

    <div id="time" style="margin-top: 10px">

    </div>

    <div style="padding-left: 10px; padding-top: 10px; text-align: left; width: auto; height: 150px;
            border:solid 5px; border-color:#2DA2BF; border-width: 4px 4px 4px 4px;
            outline:solid 2px; outline-color:#2DA2BF; outline-offset: -7px ;border-radius: 5px 5px 5px 5px">
      <ol>
      <div style="text-align: left;font-size:20px;margin-bottom: 10px;color: #4400CC"><%=$my_bulletin[1,1] %></div>
      <% for row in 2..$my_bulletin.num_rows %>
              <li><%= $my_bulletin[row,1] %></li>
      <% end %>
      </ol>
    </div>
    <img id="reloadBulletin" src="/images/reload.png" alt="Hi! " style="width:20px; border:0;" onmouseover="this.style.cursor='pointer';this.style.cursor='hand'" onmouseout="this.style.cursor='default'"/>


    <div style="margin-top: 15px;">
      <!--<label style="float: left;">打卡備註:</label>-->
      <input id="description"type="text" style="width: 530px;margin-right:0 " placeholder="<%= @placeholder%>" value="<%=@user_note%>"/>
    </div>

    <div style="font-size: 30px;text-align: center ;margin-top:10px">
      <button id="btn_clock_in" type="button" style="width: 200px;height: 60px"> 上班 </button>
      <button id="btn_clock_out" type="button" style="width: 200px;height: 60px"> 下班 </button>
    </div>
</div>


<script>

    updateTimes();
    $(window).load(function(){
        var iTimer = setInterval(updateTimes,60000);
    });

    $("#reloadBulletin").click(function(){
        $.ajax({
            url: "/knock/reload_bulletin",
            cache: false
        })
        .done(function(text) {
            alert(text);
            location.reload();
        })
        .fail(function(text) {
            alertMSG( "error: Please contact MIS!" );
        });
    });


    // Clock_IN post and process
    $("#btn_clock_in").click(function(){
        var des = $("#description").val();

        $.ajax({
            url: "/knock/clock_in",
            type: 'POST',
            data:  {description:des},
            cache: false,
            success: function(data){
                if (data.auth_result)
                    alertMSG(data.auth_result);
                else if (data.clock_in_result)
                    alertMSG(data.clock_in_result);
                else
                    alertMSG('oops! 出現錯誤了! 請確認打卡記錄!')

            },
            error: function(){
                alertMSG('oops! 出現錯誤了! 請確認打卡記錄!');
            }
        });
    });

    $("#btn_clock_out").click(function(){
        var des = $("#description").val();

        $.ajax({
            url: "/knock/clock_out",
            type: 'POST',
            data:  {description:des},
            cache: false,
            success: function(data){
                if (data.auth_result)
                    alertMSG(data.auth_result);
                else if (data.clock_out_result)
                    alertMSG(data.clock_out_result);
                else
                    alertMSG('oops! 出現錯誤了! 請確認打卡記錄!')
            },
            error: function(){
                alertMSG('oops! 出現錯誤了! 請確認打卡記錄!');
            }
        });
    });

    function updateTimes(){
        $.ajax({
            url: "/knock/get_time",
            cache: false,
            success: function(html){
                $("#time").html(html);
            }
            //,
            //error: function(){
            //    alertMSG('loadding time error');
            //}
        });
    };

    function alertMSG(sMsg){
        letDivCenter(updateMSG);
        $("#updateMSG").html(sMsg);
        $("#updateMSG").fadeIn(3000,function(){
            $("#updateMSG").fadeOut(6000)
        });
    }

</script>

