<div id="updateMSG" style="position: absolute; color: #ff4e87;font:16pt; display:none; " > x </div>

<div style="width: 55%;margin: auto">

    <div id="talk" style="text-align: center">
        Hi ,
        <%= @user_name %>     -      <%= request.env["HTTP_X_FORWARDED_FOR"] %> - <%=  request.env['HTTP_X_REAL_IP']   %>

    </div>

    <div id="time" style="margin-top: 10px">

    </div>

    <div style="padding-left: 10px; padding-top: 10px; text-align: left; width: auto; height: 150px;
            border:solid 5px; border-color:#2DA2BF; border-width: 4px 4px 4px 4px;
            outline:solid 2px; outline-color:#2DA2BF; outline-offset: -7px ;border-radius: 5px 5px 5px 5px">

      <div style="text-align: left;font-size:20px;margin-bottom: 10px;color: #4400CC">夢想與使命</div>
      <p>一、浩瀚世界裡，我們選擇孤苦貧困有天分的孩子， 他們是無辜並純潔的。若在他們人生舞台中注入跳動的音符， 必在快樂充實中找到真理與道路。
      <p>二、102年11月16日 至 103年11月16日，法律顧問由吳光明律師擔任。
      <p> TIPS: 上班打卡，不管按幾次都只算第一次，下班打卡，但永遠會更新你記最後一次打卡紀錄

    </div>

    <div style="margin-top: 15px;">
      <!--<label style="float: left;">打卡備註:</label>-->
      <input id="description"type="text" style="width: 530px;margin-right:0 " placeholder="<%= @placeholder%>" value="<%=@userNote%>"/>
    </div>

    <div style="font-size: 30px;text-align: center ;margin-top:10px">
      <button id="btn_clock_in" type="button" style="width: 200px;height: 60px"> 上班 </button>
      <button id="btn_clock_out" type="button" style="width: 200px;height: 60px"> 下班 </button>
    </div>
</div>


<script src="/js/codreamUtility.js"></script>

<script>

    updateTimes();

    $(window).load(function(){
        var iTimer = setInterval(updateTimes,60000);
    });

    $("#btn_clock_in").click(function(){
        var des = $("#description").val();

        $.ajax({
            url: "/knock/clock_in",
            type: 'POST',
            data:  {description:des},
            cache: false,
            success: function(data){
                if (data.auth_result)
                    alertMSG(data.auth_result);
                else if (data.clock_in_result)
                    alertMSG(data.clock_in_result);
                else
                    alertMSG('oops! 出現錯誤了! 請確認打卡記錄!')

            },
            error: function(){
                alertMSG('oops! 出現錯誤了! 請確認打卡記錄!');
            }
        });
    });

    $("#btn_clock_out").click(function(){
        var des = $("#description").val();

        $.ajax({
            url: "/knock/clock_out",
            type: 'POST',
            data:  {description:des},
            cache: false,
            success: function(data){
                if (data.auth_result)
                    alertMSG(data.auth_result);
                else if (data.clock_out_result)
                    alertMSG(data.clock_out_result);
                else
                    alertMSG('oops! 出現錯誤了! 請確認打卡記錄!')
            },
            error: function(){
                alertMSG('oops! 出現錯誤了! 請確認打卡記錄!');
            }
        });
    });

    function updateTimes(){
        $.ajax({
            url: "/knock/get_time",
            cache: false,
            success: function(html){
                $("#time").html(html);
            }
            //,
            //error: function(){
            //    alertMSG('loadding time error');
            //}
        });
    };

    function alertMSG(sMsg){
        letDivCenter(updateMSG);
        $("#updateMSG").html(sMsg);
        $("#updateMSG").fadeIn(3000,function(){
            $("#updateMSG").fadeOut(6000)
        });
    }

</script>

