<!DOCTYPE html>
<html>
<head>
  <title>Hi Works</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <% if alert %>
        <script type="text/javascript">alert("<%= alert %>");</script>
    <% end %>

    <div style="margin-right: 10%; text-align: right">
        <% if user_signed_in? %>
            <strong><%= current_user.email %></strong>
            <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% else %>
            <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
            <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
        <% end %>
    </div>

    <div style="text-align: center;margin: 10px 0px 0px 0px">
        <%= yield %>
    </div>

</body>
</html>
